In [1]:
import pandas as pd

In [3]:
%pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [23]:
r = pd.read_excel("rimsha.xlsx")
print("Dataframe:")
r

Dataframe:

,dep1 salary,dep2 salary,dep3 salary,dep4 salary,dep5 salary dep6 salary dep7 salary dep8 salary dep9 salaray dep10 salary,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,0.005512,0.789080,0.427407,0.222159,0.903225,0.533935,0.129077,0.406448,0.437525,0.491347,0.921924
1,0.446477,0.506438,0.909260,0.955899,0.172990,0.432143,0.740027,0.357880,0.437828,0.488332,0.793447
2,0.347004,0.548873,0.698345,0.978282,0.201601,0.980274,0.788070,0.603992,0.117695,0.005264,0.217850
3,0.016929,0.538627,0.873815,0.596474,0.751647,0.401217,0.121885,0.290415,0.452052,0.487921,0.949306
4,0.613361,0.803753,0.826520,0.913430,0.421756,0.728388,0.504229,0.176296,0.301698,0.907729,0.401897
...,...,...,...,...,...,...,...,...,...,...,...
194,0.241452,0.985877,0.006969,0.792813,0.713843,0.375358,0.328875,0.028379,0.680107,0.081880,0.613103
195,0.156987,0.241452,0.821725,0.714748,0.910443,0.876227,0.763854,0.523421,0.589212,0.926132,0.628793
196,0.617559,0.156987,0.108459,0.348013,0.693969,0.790514,0.798650,0.018958,0.863858,0.836110,0.617239
197,0.617559,0.615019,0.963761,0.345787,0.870168,0.759117,0.145201,0.152137,0.587124,0.464774,0.833862
198,NaN,0.617559,0.780440,0.553339,0.636224,0.499688,0.410889,0.347196,0.028757,0.363518,0.804929

In [32]:
# Sorting
r.sort_index(axis=1, ascending=False)

,dep5 salary dep6 salary dep7 salary dep8 salary dep9 salaray dep10 salary,dep4 salary,dep3 salary,dep2 salary,Unnamed: 9,Unnamed: 8,Unnamed: 7,Unnamed: 6,Unnamed: 5,Unnamed: 10,dep1 salary
0,0.903225,0.222159,0.427407,0.789080,0.491347,0.437525,0.406448,0.129077,0.533935,0.921924,0.005512
1,0.172990,0.955899,0.909260,0.506438,0.488332,0.437828,0.357880,0.740027,0.432143,0.793447,0.446477
2,0.201601,0.978282,0.698345,0.548873,0.005264,0.117695,0.603992,0.788070,0.980274,0.217850,0.347004
3,0.751647,0.596474,0.873815,0.538627,0.487921,0.452052,0.290415,0.121885,0.401217,0.949306,0.016929
4,0.421756,0.913430,0.826520,0.803753,0.907729,0.301698,0.176296,0.504229,0.728388,0.401897,0.613361
...,...,...,...,...,...,...,...,...,...,...,...
194,0.713843,0.792813,0.006969,0.985877,0.081880,0.680107,0.028379,0.328875,0.375358,0.613103,0.241452
195,0.910443,0.714748,0.821725,0.241452,0.926132,0.589212,0.523421,0.763854,0.876227,0.628793,0.156987
196,0.693969,0.348013,0.108459,0.156987,0.836110,0.863858,0.018958,0.798650,0.790514,0.617239,0.617559
197,0.870168,0.345787,0.963761,0.615019,0.464774,0.587124,0.152137,0.145201,0.759117,0.833862,0.617559
198,0.636224,0.553339,0.780440,0.617559,0.363518,0.028757,0.347196,0.410889,0.499688,0.804929,NaN

In [35]:
r.sort_values(by="dep3 salary")

,dep1 salary,dep2 salary,dep3 salary,dep4 salary,dep5 salary dep6 salary dep7 salary dep8 salary dep9 salaray dep10 salary,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
63,0.856240,0.864190,0.000673,0.597693,0.589320,0.504446,0.836381,0.341006,0.516598,0.921856,0.996881
123,0.987740,0.431192,0.005267,0.415279,0.162019,0.076963,0.651214,0.224766,0.099433,0.451523,0.963267
194,0.241452,0.985877,0.006969,0.792813,0.713843,0.375358,0.328875,0.028379,0.680107,0.081880,0.613103
25,0.578908,0.222842,0.009840,0.550377,0.028761,0.431450,0.802778,0.289786,0.979850,0.439699,0.426226
157,0.364767,0.252150,0.016298,0.701693,0.526604,0.657602,0.565991,0.996299,0.129181,0.917156,0.884246
...,...,...,...,...,...,...,...,...,...,...,...
104,0.582067,0.517047,0.977446,0.953451,0.021820,0.834000,0.626104,0.207088,0.962039,0.285814,0.682047
80,0.617559,0.041010,0.978007,0.869722,0.733241,0.387142,0.500019,0.631570,0.615737,0.307477,0.216956
171,0.156987,0.585218,0.979996,0.231727,0.366099,0.184379,0.908724,0.857686,0.876538,0.529687,0.053805
107,0.109294,0.847967,0.991187,0.093667,0.725898,0.581055,0.210380,0.358293,0.142789,0.189708,0.329405
12,0.471638,0.667075,0.997773,0.256486,0.117308,0.950231,0.110172,0.417589,0.109054,0.407786,0.416487

In [38]:
r.info()            #Datatype info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 11 columns):
 #   Column                                                                     Non-Null Count  Dtype
---  ------                                                                     --------------  -----
 0    dep1 salary                                                               198 non-null    float64
 1   dep2 salary                                                                199 non-null    float64
 2   dep3 salary                                                                199 non-null    float64
 3   dep4 salary                                                                199 non-null    float64
 4   dep5 salary dep6 salary dep7 salary dep8 salary dep9 salaray dep10 salary  199 non-null    float64
 5   Unnamed: 5                                                                 199 non-null    float64
 6   Unnamed: 6                                                                 199 non-null    float64
 7   Unnamed: 7                                                                 199 non-null    float64
 8   Unnamed: 8                                                                 199 non-null    float64
 9   Unnamed: 9                                                                 199 non-null    float64
 10  Unnamed: 10                                                                199 non-null    float64
dtypes: float64(11)
memory usage: 17.2 KB

In [39]:
r.describe()      #statistic summry

,dep1 salary,dep2 salary,dep3 salary,dep4 salary,dep5 salary dep6 salary dep7 salary dep8 salary dep9 salaray dep10 salary,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
count,198.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000
mean,0.450461,0.473016,0.523486,0.478317,0.517095,0.471680,0.511589,0.469834,0.482270,0.497965,0.520701
std,0.311390,0.299922,0.297310,0.272452,0.294153,0.292430,0.284245,0.290964,0.291485,0.293436,0.290352
min,0.003504,0.001610,0.000673,0.003399,0.000907,0.002528,0.006968,0.002935,0.007027,0.002120,0.011095
25%,0.156987,0.188543,0.272795,0.264169,0.259939,0.232905,0.271823,0.193745,0.214549,0.262310,0.271277
50%,0.438835,0.483458,0.531820,0.457765,0.558050,0.445232,0.517026,0.453243,0.500770,0.478795,0.495927
75%,0.701551,0.735109,0.803411,0.673977,0.768099,0.726213,0.755381,0.724261,0.710697,0.714209,0.809485
max,0.988759,0.988897,0.997773,0.999015,0.998247,0.999118,0.998754,0.996299,0.997247,0.997812,0.997967

In [42]:
r.T                       #transposing data

,0,1,2,3,4,5,6,7,8,9,...,189,190,191,192,193,194,195,196,197,198
dep1 salary,0.005512,0.446477,0.347004,0.016929,0.613361,0.667075,0.988759,0.213407,0.051465,0.263928,...,0.617559,0.574581,0.156987,0.985877,0.241452,0.241452,0.156987,0.617559,0.617559,NaN
dep2 salary,0.789080,0.506438,0.548873,0.538627,0.803753,0.508133,0.742010,0.066744,0.782052,0.819246,...,0.218198,0.986938,0.446477,0.574581,0.201351,0.985877,0.241452,0.156987,0.615019,0.617559
dep3 salary,0.427407,0.909260,0.698345,0.873815,0.826520,0.616149,0.827192,0.298267,0.417140,0.113803,...,0.851629,0.510524,0.091038,0.402719,0.462989,0.006969,0.821725,0.108459,0.963761,0.780440
dep4 salary,0.222159,0.955899,0.978282,0.596474,0.913430,0.222194,0.006341,0.764268,0.396753,0.878261,...,0.397158,0.445827,0.999015,0.552921,0.870951,0.792813,0.714748,0.348013,0.345787,0.553339
dep5 salary dep6 salary dep7 salary dep8 salary dep9 salaray dep10 salary,0.903225,0.172990,0.201601,0.751647,0.421756,0.600352,0.651830,0.737132,0.735851,0.353452,...,0.522203,0.272365,0.666192,0.614149,0.615912,0.713843,0.910443,0.693969,0.870168,0.636224
Unnamed: 5,0.533935,0.432143,0.980274,0.401217,0.728388,0.718930,0.155552,0.840650,0.460366,0.136234,...,0.910056,0.397647,0.256838,0.897120,0.826888,0.375358,0.876227,0.790514,0.759117,0.499688
Unnamed: 6,0.129077,0.740027,0.788070,0.121885,0.504229,0.630791,0.006968,0.969789,0.784030,0.677903,...,0.335116,0.655051,0.268708,0.469864,0.218166,0.328875,0.763854,0.798650,0.145201,0.410889
Unnamed: 7,0.406448,0.357880,0.603992,0.290415,0.176296,0.149704,0.192956,0.745051,0.402536,0.549164,...,0.805193,0.061839,0.915357,0.002935,0.222988,0.028379,0.523421,0.018958,0.152137,0.347196
Unnamed: 8,0.437525,0.437828,0.117695,0.452052,0.301698,0.474756,0.220480,0.327405,0.618846,0.416374,...,0.745544,0.824876,0.605523,0.494980,0.096187,0.680107,0.589212,0.863858,0.587124,0.028757
Unnamed: 9,0.491347,0.488332,0.005264,0.487921,0.907729,0.641273,0.931926,0.417050,0.371358,0.051828,...,0.828037,0.438522,0.020677,0.712962,0.344180,0.081880,0.926132,0.836110,0.464774,0.363518
Unnamed: 10,0.921924,0.793447,0.217850,0.949306,0.401897,0.040711,0.213088,0.278702,0.941428,0.690552,...,0.437722,0.565873,0.567480,0.909701,0.846163,0.613103,0.628793,0.617239,0.833862,0.804929